@model Grabble.Data.Domain.Familiar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Familiar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamiliarGuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamiliarGuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailToRevalidate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailToRevalidate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
